@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

@{
    AuthenticationResponse user = new();
    var admin = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Admin.ToString());
    var customer = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Customer.ToString());
    if (admin != null)
    {
        user = admin;
    }
    else
    {
        user = customer;
    }
}

<div class="container mx-auto p-4 max-w-7xl">
    <h1 class="text-2xl font-bold mb-2">Hello, @user.UserName</h1>
    <div class="grid grid-cols-3 gap-6 h-full">
        <!-- Left Column -->

        <!-- Right Column -->
        <div class="col-span-1 flex flex-col space-y-6">
            <!-- My Products Section -->
            <!-- Conditional Offer or Admin Buttons Section -->

            <div class="grid grid-cols-2 gap-4">
                <a asp-controller="Payment" asp-action="Express" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span class="mt-2">Express</span>
                </a>
                <a asp-controller="Payment" asp-action="CreditCard" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span class="mt-2">Credit Card</span>
                </a>
                <a asp-controller="Payment" asp-action="Loan" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span class="mt-2">Loan</span>
                </a>
                <a asp-controller="Payment" asp-action="Beneficiary" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span class="mt-2">Beneficiary</span>
                </a>
            </div>
        </div>
    </div>
</div>