@model SaveUserViewModel

<div class="container mx-auto p-4 max-w-7xl">
    <h1 class="text-2xl font-bold mb-4">Create New User</h1>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <form asp-controller="User" asp-action="Create" method="post">
            <div class="mb-4">
                <label for="firstName" class="block text-gray-700">First Name</label>
                <input type="text" id="firstName" name="FirstName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="FirstName" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="lastName" class="block text-gray-700">Last Name</label>
                <input type="text" id="lastName" name="LastName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="LastName" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="email" class="block text-gray-700">Email</label>
                <input type="email" id="email" name="Email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="Email" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="username" class="block text-gray-700">Username</label>
                <input type="text" id="username" name="Username" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="Username" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700">Password</label>
                <input type="password" id="password" name="Password" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="Password" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="confirmPassword" class="block text-gray-700">Confirm Password</label>
                <input type="password" id="confirmPassword" name="ConfirmPassword" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="ConfirmPassword" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="nationalId" class="block text-gray-700">National ID</label>
                <input type="text" id="nationalId" name="NationalId" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="NationalId" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label for="Rol" class="block text-gray-700">Rol</label>
                <select asp-for="Rol" id="Rol" name="Rol" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required>
                    <option value="0">Select an option</option>
                    <option value="@Roles.Admin">Admin</option>
                    <option value="@Roles.Customer">Customer</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="isAdmin" class="block text-gray-700">Is Admin</label>
                <input type="checkbox" id="isAdmin" name="IsAdmin" class="mt-1 border-gray-300 rounded-md shadow-sm" />
            </div>

            <div class="flex justify-end">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm">
                    Create User
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
