@model SaveUserViewModel

<div class="container mx-auto p-4 max-w-7xl">
    <h1 class="text-2xl font-bold mb-4">Create New User</h1>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <form asp-controller="User" asp-action="Create" method="post">
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label asp-for="FirstName" class="block text-gray-700"></label>
                    <input asp-for="FirstName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                    <span asp-validation-for="FirstName" class="text-red-500 text-xs"></span>
                </div>
                <div>
                    <label asp-for="LastName" class="block text-gray-700"></label>
                    <input asp-for="LastName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                    <span asp-validation-for="LastName" class="text-red-500 text-xs"></span>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label asp-for="Email" class="block text-gray-700"></label>
                    <input asp-for="Email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                    <span asp-validation-for="Email" class="text-red-500 text-xs"></span>
                </div>
                <div>
                    <label asp-for="Username" class="block text-gray-700"></label>
                    <input asp-for="Username" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                    <span asp-validation-for="Username" class="text-red-500 text-xs"></span>
                </div>
            </div>

            <div class="mb-4">
                <label asp-for="Password" class="block text-gray-700"></label>
                <input asp-for="Password" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                <span asp-validation-for="Password" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ConfirmPassword" class="block text-gray-700"></label>
                <input asp-for="ConfirmPassword" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                <span asp-validation-for="ConfirmPassword" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label asp-for="NationalId" class="block text-gray-700"></label>
                <input asp-for="NationalId" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                <span asp-validation-for="NationalId" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Rol" class="block text-gray-700"></label>
                <select asp-for="Rol" id="rolSelect" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2">
                    @foreach (var role in Enum.GetValues(typeof(Roles)))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="Rol" class="text-red-500 text-xs"></span>
            </div>

            <!-- Campo Amount -->
            <div class="mb-4" id="montoField" style="display: none;">
                <label asp-for="Amount" class="block text-gray-700"></label>
                <input asp-for="Amount" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-10 px-2" />
                <span asp-validation-for="Amount" class="text-red-500 text-xs"></span>
            </div>

            <div class="flex justify-end">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm">
                    Create User
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

@section Scripts {
    <script type="text/javascript">
        document.getElementById('rolSelect').addEventListener('change', function () {
            var montoField = document.getElementById('montoField');
            if (this.value === 'Customer') {
                montoField.style.display = 'block';
            } else {
                montoField.style.display = 'none';
            }
        });

        // Trigger the change event on page load to set the initial state
        document.getElementById('rolSelect').dispatchEvent(new Event('change'));
    </script>
}


