@model UserViewModel

<div class="container mx-auto max-w-7xl">
    <h1 class="text-2xl font-bold mb-4">We need some data before we can proceed</h1>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <form asp-action="CompleteTransaction" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="grid grid-cols-2 gap-6 mb-6">
                <div>
                    <label asp-for="NationalId" class="block text-gray-700"></label>
                    <input asp-for="NationalId" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-12 px-4" />
                    <span asp-validation-for="NationalId" class="text-red-500 text-xs"></span>
                </div>
                <div>
                    <label class="block text-gray-700">Product Number</label>
                    <input value="@ViewBag.AccountNumber" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-12 px-4" readonly />
                </div>
            </div>
            <div class="grid grid-cols-2 gap-6 mb-6">
                <div>
                    <label asp-for="FirstName" class="block text-gray-700"></label>
                    <input asp-for="FirstName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-12 px-4" />
                    <span asp-validation-for="FirstName" class="text-red-500 text-xs"></span>
                </div>
                <div>
                    <label asp-for="LastName" class="block text-gray-700"></label>
                    <input asp-for="LastName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-12 px-4" />
                    <span asp-validation-for="LastName" class="text-red-500 text-xs"></span>
                </div>
            </div>
            <div class="mb-6">
                <label asp-for="Email" class="block text-gray-700"></label>
                <input asp-for="Email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-12 px-4" />
                <span asp-validation-for="Email" class="text-red-500 text-xs"></span>
            </div>
            <div class="mb-6">
                <label asp-for="Username" class="block text-gray-700"></label>
                <input asp-for="Username" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm h-12 px-4" />
                <span asp-validation-for="Username" class="text-red-500 text-xs"></span>
            </div>
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm flex items-center">
                    Continue with the transaction <i class="fas fa-arrow-right ml-2"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
