@using BellBankingApp.Core.Application.Helpers;
@using BellBankingApp.Core.Application.DTOs.Account;
@using BellBankingApp.Core.Application.Enums;

@inject IHttpContextAccessor httpContextAccesor
@{
    ViewData["Title"] = "Home Page";
}



@{
    AuthenticationResponse user = new();
    var admin = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Admin.ToString());
    var customer = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Customer.ToString());
    var adminprueba = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("Admin");
    var customerprueba = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("Customer");
    if (admin != null)
    {
        user = admin;
    }
    else
    {
        user = customer;
    }        
}

<p>Bienvenido @user.UserName, su rol es:</p>
<h4>@user.Role</h4>
